* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    scroll-behavior: smooth;

}

 :root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
    padding-top: 80px;
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgb(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 200px;
    height:  200px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 20%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 3.0rem;
    font-weight: bold;
    margin: 5px 0;
    color: #fff;
    transition: all 0.4s ease;
}

h1:hover {
    transform: scale(1.08);
    text-shadow: 0 0 8px rgba(124, 58, 237, 0.6);
}

.subtitulo {
    font-size: 2rem;
    color: #ccc;
    transition: all 0.4s ease;
}

.subtitulo:hover {
    transform: scale(1.05);
    color: #fff;
    text-shadow: 0 0 8px rgba(124, 58, 237, 0.6);
}

.sobre {
    padding: 6rem 2rem;
}

.tecnologias {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 2.5rem;
    background-image: linear-gradient(to right, rgb(206, 0, 154), rgb(0, 247, 255));
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre-paragrafo {
    color: #ccc;
    text-align: justify;
    font-size: 1.0rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 35px;
    background-image: linear-gradient(to right, rgb(206, 0, 154), rgb(0, 247, 255));
    background-clip: text;
    color: transparent;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.caixa-texto {
    padding: 1.5rem;
}
.projetos-card {
    background-color: #0f172a;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 1.2s ease;
    cursor: pointer;
}

.info-projetos {
    margin-bottom: 5px;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.4);
    line-height: 1.25rem;
}

.contatos {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 35px;
    background-image: linear-gradient(to right, rgb(206, 0, 154), rgb(0, 247, 255));
    background-clip: text;
    color: transparent;
}

.formulario-contato {
    max-width: 600px;
    margin:  0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--vidro);
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria),var(--escuro), var(--maisEscuro));
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.3 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: rgba(79, 70, 229, 0.2);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background:
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
    var(--maisEscuro)
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
    }
}

.tec-titulo {
    margin-top: 20px;
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 35px;
    background-image: linear-gradient(to right, rgb(206, 0, 154), rgb(0, 247, 255));
    background-clip: text;
    color: transparent;
}

.tec-caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.badgers {
    width: 60px;
    height:  60px;
    transition: transform 0.3s ease;
}

.tec-item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.tec-item:hover .badgers {
    transform: scale(1.2);
}

.tec-nome {
    position: absolute;
    bottom: -25px;
    font-size: 0.8rem;
    color: var(--claro);
    background: rgba(0,0,0,0.6);
    padding: 3px 8px;
    border-radius: 6px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    pointer-events: none;
}

.tec-item:hover .tec-nome {
    opacity: 1;
    transform: translateY(0);
}

.foto-sobre {
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-radius: 80px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.segunda-foto-sobre {
    width: 150px;
    height: 150px;
    border: 2px solid;
    border-radius: 90px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.foto-sobre:hover,
.segunda-foto-sobre:hover {
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 10px 25px rgba(79, 70, 229, 0.5);
}

.linha {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.linha-direita {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.contatos-inicio {
    display: flex;
    gap: 10px;    
    margin-top: 2px;
}

.contatos-inicio img {
    width: 50px;
    height: 50px;
    opacity: 0.75;
    transition: transform 0.2s, opacity 0.2s;
    cursor: pointer;
}

.contatos-inicio img:hover {
    transform: scale(1.1);
    opacity: 1;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sobre-titulo,
.projetos-titulo,
.tec-titulo,
.contatos-titulo {

    background: linear-gradient(
        90deg,
        rgb(197, 224, 255),
        rgb(17, 92, 255),
        rgb(206, 0, 154)
    );

    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    animation: gradientMove 5s ease infinite;
}

.botao-cv {
    margin-top: 2px;
    text-decoration: none;
    color: #ccc;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    font-style: italic;
}

.botao-cv:hover {
    color: #fff;
    letter-spacing: 1px;
}

.botao-cv::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.3s ease;
}

.botao-cv:hover::after {
    width: 100%;
}

@media (max-width: 768px) {

    /* MENU */
    .menu {
        flex-direction: row; /* mantém lado a lado */
        flex-wrap: wrap;     /* permite quebrar linha se precisar */
        gap: 1rem;
    }

    /* CABEÇALHO */
    h1 {
        font-size: 2rem;
        text-align: center;
    }

    .subtitulo {
        font-size: 1.2rem;
        text-align: center;
    }

    .foto-perfil {
        width: 150px;
        height: 150px;
    }

    /* SEÇÕES */
    .sobre,
    .tecnologias,
    .projetos,
    .contatos {
        padding: 4rem 1rem;
    }

    /* LINHAS */
    .linha,
    .linha-direita {
        flex-direction: column;
        text-align: center;
    }

    /* TECNOLOGIAS */
    .tec-caixa {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* PROJETOS */
    .projetos-caixa {
        grid-template-columns: 1fr;
    }

    /* FORM */
    .formulario-contato {
        padding: 1.5rem;
    }

}